@charset "UTF-8";

@font-face {
	font-family: 'socials';
	src:  url('socials.eot?ta6m9z');
	src:  url('socials.eot?ta6m9z#iefix') format('embedded-opentype'),
		  url('socials.ttf?ta6m9z') format('truetype'),
		  url('socials.woff?ta6m9z') format('woff'),
		  url('socials.svg?ta6m9z#socials') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="social-"],
[class*=" social-"] {
	font-family: 'socials' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: inherit;
	vertical-align: top;
	min-width: 1.5em;
	display: inline-block;
	text-align: center;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-behance-square:before { content: "\f1b5"; }
.social-behance:before { content: "\f1b4"; }
.social-delicious:before { content: "\f1a5"; }
.social-digg:before { content: "\f1a6"; }
.social-dribbble:before { content: "\f17d"; }
.social-envelope-o:before { content: "\f003"; }
.social-envelope-open-o:before { content: "\f2b7"; }
.social-envelope-open:before { content: "\f2b6"; }
.social-envelope-square:before { content: "\f199"; }
.social-envelope:before { content: "\f0e0"; }
.social-facebook-f:before { content: "\f09a"; }
.social-facebook-official:before { content: "\f230"; }
.social-facebook-square:before { content: "\f082"; }
.social-facebook:before { content: "\f09a"; }
.social-feed:before { content: "\f09e"; }
.social-flickr:before { content: "\f16e"; }
.social-google-plus-circle:before { content: "\f2b3"; }
.social-google-plus-official:before { content: "\f2b3"; }
.social-google-plus-square:before { content: "\f0d4"; }
.social-google-plus:before { content: "\f0d5"; }
.social-instagram:before { content: "\f16d"; }
.social-linkedin-square:before { content: "\f08c"; }
.social-linkedin:before { content: "\f0e1"; }
.social-pinterest-p:before { content: "\f231"; }
.social-pinterest-square:before { content: "\f0d3"; }
.social-pinterest:before { content: "\f0d2"; }
.social-reddit-alien:before { content: "\f281"; }
.social-reddit-square:before { content: "\f1a2"; }
.social-reddit:before { content: "\f1a1"; }
.social-rss-square:before { content: "\f143"; }
.social-rss:before { content: "\f09e"; }
.social-share-alt-square:before { content: "\f1e1"; }
.social-share-alt:before { content: "\f1e0"; }
.social-skype:before { content: "\f17e"; }
.social-slack:before { content: "\f198"; }
.social-snapchat-ghost:before { content: "\f2ac"; }
.social-snapchat-square:before { content: "\f2ad"; }
.social-snapchat:before { content: "\f2ab"; }
.social-stumbleupon-circle:before { content: "\f1a3"; }
.social-stumbleupon:before { content: "\f1a4"; }
.social-tumblr-square:before { content: "\f174"; }
.social-tumblr:before { content: "\f173"; }
.social-twitter-square:before { content: "\f081"; }
.social-twitter:before { content: "\f099"; }
.social-vimeo-square:before { content: "\f194"; }
.social-vimeo:before { content: "\f27d"; }
.social-vine:before { content: "\f1ca"; }
.social-youtube-play:before { content: "\f16a"; }
.social-youtube-square:before { content: "\f166"; }
.social-youtube:before { content: "\f167"; }
