/*
Theme Name:   Child Theme
Description:  Child theme for prime by MPC dev - Wojtek S
Author:       Wojtek/wpkraken
Author URL:   wpkraken.io
Template:     prime
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  child-theme
*/

/* Write here your own personal stylesheet */

/* MAIN STYLES */

.mpcth_page__content.mpcth_background--default {
    background-color: #FAFBFC !important;
}



/* HEADER */

.mpcth_background-target {
    background-color: #50A1DC !important;
}

.mpcth_page__header a {
    color: #ffffff !important;
    text-transform: uppercase;
}

.mpc-menu .menu-item > a {
    font-size: 14px;
}

.menu-item-43 > a > span::before {
    content: '\f0e7';
    font-family: Font Awesome\ 5 Pro;
    margin-right: 3px;
    color: #FFDB4D;
}

/* BREADCRUMBS */

.mpcth_breadcrumbs {
    display: none;
}

.mpcth_post__title {
    display: none;
}

/* SLIDER STYLES */

#wpk-slick-slider {
    height: 500px;
    max-width: 640px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.slick-arrow {
    position: absolute;
    background-color: #50A1DC;
    border-radius: 2px;
    bottom: 35%;
    z-index: 99;
}

.wpk-slick-slider_prev {
    right: 8%;
    color: #ffffff;
}

.wpk-slick-slider_next {
    right: 2%;
    color: #ffffff;
}

.wpk-slick-slider_content {
    height: 150px;
    background-color: #ffffff;
    padding: 22px;
}

.wpk-slick-slider_category {
    background: rgb(80,161,220);
    background: linear-gradient(90deg, rgba(80,161,220,1) 0%, rgba(51,152,226,1) 90%);
    color: #ffffff;
    border-radius: 2px;
    padding: 2px 9px 3px 8px;
}

.wpk-slick-slider_title {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
}

.wpk-slick-slider_content p:last-child {
    margin-top: 0;
}

/* FACEBOOK MAIN BUTTON */

.wpk-facebook-main span{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN SUBSCRIBE PLACE */

#wpk-subscribe-main {
    padding: 20px 40px;
    border: 2px solid #50A1DC;
    border-radius: 2px;
    box-shadow: 0 3px 10px #8FCAF2;
}

.wpk-subscribe-main_title {
    text-align: center;
    margin-bottom: 0;
}

.wpk-subscribe-main_text {
    color: #888888;
    text-align: center;
}

.wpk-subscribe-main_form {
    position: relative;
}

.wpk-subscribe-main_form i {
    position: absolute;
    right: 5%;
    top: 35%;
    color: #888888;
}

.wpk-subscribe-main_input {
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 1px solid #E4E4E4;
    box-shadow: 0 3px 10px #E4E4E4;
}

.wpk-subscribe-main_button {
    width: 100%;
    height: 50px;
    color: #ffffff !important;
    font-weight: 400 !important;
    border-radius: 2px;
    background: rgb(80,161,220);
    background: linear-gradient(90deg, rgba(80,161,220,1) 0%, rgba(70,120,194,1) 90%);
}

/* QUIZ LIST ON HOME PAGE */

#wpk-quiz-container {
    display: flex;
    justify-content: space-between;
}

#wpk-quiz-list {
    display: inline-block;
    width: 30%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.wpk-quiz-list_content {
    padding: 5px 20px 20px 20px;
}

.wpk-quiz-list_category {
    background: rgb(80,161,220);
    background: linear-gradient(90deg, rgba(80,161,220,1) 0%, rgba(51,152,226,1) 90%);
    color: #ffffff;
    border-radius: 2px;
    padding: 2px 9px 3px 8px;
}

.wpk-quiz-list_title {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #222222;
}