.mpcth_archive {
	.mpcth_post {
		&.mpcth_with-background {
			padding: 20px;
		}
	}

	&.mpcth_columns--2 {
		.mpcth_grid-item {
			width: 50%;
		}
	}
	&.mpcth_columns--3 {
		.mpcth_grid-item {
			width: 33.33%;
		}
	}
	&.mpcth_columns--4 {
		.mpcth_grid-item {
			width: 25%;
		}
	}
}