//----------------------------------------------------------------------------//
//	COMMENTS LIST
//----------------------------------------------------------------------------//
.mpcth_comments__list {
	list-style: none;
	padding-left: 0;

	.children {
		list-style: none;
		margin: 1em 0 0 0;
		padding: 0;
	}

	.comment {
		border-left: 2px solid rgba(0, 0, 0, 0.1);
		margin-bottom: 2em;
		padding-left: 1.5em;
	}

	.avatar {
		float: left;
		margin-right: .5em;
	}

	.comment-content {
		margin: 1em 0;
	}


	.comment-content > *:last-child {
		margin-bottom: 0;
	}
}



//----------------------------------------------------------------------------//
//	COMMENT FORM
//----------------------------------------------------------------------------//
.comment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	p {
		margin: 0 0 1em;
	}

	label {
		display: block;
	}

	input,
	textarea {
		display: block;
		padding: .5em 0;
		text-indent: .5em;
		width: 100%;

		transition: all .25s;
	}

	textarea {
		max-width: 100%;
	}

	input[type=submit] {
		display: inline-block;
		width: auto;
		padding: .5em 0;
		text-indent: 0;
		background: none;
		line-height: 1.33;
	}

	.comment-notes,
	.comment-form-comment,
	.form-submit {
		flex: 0 0 100%;
	}

	.comment-notes {
		order: 1;
	}

	.comment-form-comment {
		order: 3;
	}

	.form-submit {
		order: 4;
		text-align: right;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		flex: 0 0 30%;
		order: 2;
	}
}