html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	border-width: 0;
}

body {
	overflow-x: hidden;
	overflow-y: visible;
	background: #ffffff;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}

	cite {
		display: block;
		margin-top: 1em;
		text-align: right;
		font-style: italic;
	}
}
blockquote {
	margin: 0 1.5em;
}

hr {
	background-color: #333333;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 0;
	padding-left: 2em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: .5em 0;
}

li {
	margin-bottom: .5em;

	&:last-child {
		margin-bottom: 0;
	}
}

dt {
	font-weight: bold;
	margin-bottom: .5em;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .1);
	border-collapse: separate;
}

td, th {
	padding: .25em .5em;
	border: 1px solid rgba(0, 0, 0, .1);
}

th, tr.even {
	background: rgba(0, 0, 0, .025);
}

figure {
	margin: 0;
}

a {
	text-decoration: none;
	transition: color .25s;
}

select, input, textarea {
	&, &:hover {
		outline: none;
	}
}

code, kbd, tt, var,pre {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	color: #333333;
	background: rgba(255, 255, 255, .75);
	padding: .25em .5em;
	border: 1px solid rgba(0, 0, 0, .1);
}

pre {
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em;
	white-space: pre-wrap;
}

abbr[title], acronym[title] {
	border-bottom: 1px dotted rgba(0, 0, 0, .5);
	cursor: help;
}

mark, ins {
	background: rgba(255, 255, 0, .5);
	text-decoration: none;
	padding: .25em;
	margin: 0 -.25em;
}

big {
	font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	a {
		font: inherit;
	}

	body a & {
		color: inherit;
	}
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: .875em; }

h1 { margin: .333em 0; }
h2 { margin: .75em 0; }
h3 { margin: 1.166em 0; }
h4 { margin: 1.5em 0; }
h5 { margin: 2.0em 0; }
h6 { margin: 2.357em 0; }

p {
	margin-top: 1em;
	margin-bottom: 1.5em;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.mpcth_icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	opacity: 1;
	box-sizing: content-box;

	transition: color .25s, background .25s, opacity .25s;

	a &,
	a &:before {
		transition: none;
	}
}