//----------------------------------------------------------------------------//
//	DISPLAY
//----------------------------------------------------------------------------//
.mpcth_display--fullwidth {

}
.mpcth_display--boxed {
	.mpcth_page {
		width: $page__large;
		margin: 0 auto;

		@media #{$screen-large} {
			width: $page__large;
		}
		@media #{$screen-normal} {
			width: $page__normal;
		}
		@media #{$screen-medium} {
			width: $page__medium;
		}
		@media #{$screen-small} {
			width: $page__small;
		}
	}
}

.mpcth_page {
	position: relative;
	overflow: hidden;
}

.mpcth_page__content {
	position: relative;
}



//----------------------------------------------------------------------------//
//	FRAME
//----------------------------------------------------------------------------//
.mpcth_frame {
	position: absolute;
	z-index: 10;
}

.mpcth_frame:before,
.mpcth_frame:after {
	content: '';
	position: fixed;
	left: 0;
	width: 100%;
	height: inherit;
	background: inherit;
	//z-index: 1;
}
.mpcth_frame:before {
	top: 0;
}
.mpcth_frame:after {
	bottom: 0;
}



//----------------------------------------------------------------------------//
//	LAYOUT
//----------------------------------------------------------------------------//
.mpcth_layout {

}
.mpcth_layout--box {
	width: $page__large;
	margin: 0 auto;
}

.mpcth_layout--block {
	padding-left: $gaps;
	padding-right: $gaps;
	width: $page__large;
	margin: 0 auto;

	@media #{$screen-large} {
		width: $page__large;
	}
	@media #{$screen-normal} {
		width: $page__normal;
	}
	@media #{$screen-medium} {
		width: $page__medium;
		padding-left: $gaps / 2;
		padding-right: $gaps / 2;
	}
	@media #{$screen-small} {
		width: $page__small;
	}
}



//----------------------------------------------------------------------------//
//	COLUMNS
//----------------------------------------------------------------------------//
.mpcth_column {
	padding: 20px;

	.mpcth_columns--1 & {
		flex: 0 0 51%;
		max-width: 51%;
	}
	.mpcth_columns--2 & {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.mpcth_columns--3 & {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.mpcth_columns--4 & {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.mpcth_columns--fluid & {
		flex: 0 0 auto;
		max-width: 50%;
	}

	@media #{$screen-medium} {
		.mpcth_columns--4 & {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	@media #{$screen-small} {
		.mpcth_columns--3 &,
		.mpcth_columns--4 & {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	@media #{$screen-tiny} {
		.mpcth_columns--1 &,
		.mpcth_columns--2 &,
		.mpcth_columns--3 &,
		.mpcth_columns--4 & {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
.mpcth_columns-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px -20px;

	&.mpcth_columns--1 {
		justify-content: center;
	}

	&.mpcth_side--left {
		justify-content: flex-start;
	}
	&.mpcth_side--center {
		justify-content: center;
	}
	&.mpcth_side--right {
		justify-content: flex-end;
	}
}



//----------------------------------------------------------------------------//
//	ALIGNMENT
//----------------------------------------------------------------------------//
.mpcth_align--left { text-align: left; }
.mpcth_align--center { text-align: center; }
.mpcth_align--right { text-align: right; }

.mpcth_align--left *,
.mpcth_align--center *,
.mpcth_align--right * {
	text-align: inherit;
}



//----------------------------------------------------------------------------//
//	VISIBILITY
//----------------------------------------------------------------------------//
@media only screen and (min-width: 993px) {
	.mpcth_visible--mobile {
		display: none !important;
	}
}
@media only screen and (max-width: 992px) {
	.mpcth_visible--desktop {
		display: none !important;
	}
}



//----------------------------------------------------------------------------//
//	CAPTION
//----------------------------------------------------------------------------//
.wp-caption {
	width: 100% !important;
	margin-bottom: 1.5em;

	img {
		display: block;
		width: 100%;
		margin-bottom: .25em;
	}
}

.wp-caption-text {
	font-style: italic;
	font-size: .8888em;
}