//----------------------------------------------------------------------------//
//	FOOTER
//----------------------------------------------------------------------------//
.mpcth_page__footer {
	border-top: 0 solid transparent;

	.mpcth_footer--fixed & {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.mpcth_display--boxed & {
		left: auto;
		right: auto;
		width: $page__large;
	}

	.mpcth_columns-wrapper {
		margin-bottom: 0;
	}
}

.mpcth_page__footer .menu-item {
	display: block;
}



//----------------------------------------------------------------------------//
//	COPYRIGHTS
//----------------------------------------------------------------------------//
.mpcth_copyrights {
	padding: 10px;
	display: flex;
	align-items: center;

	.mpcth_block {
		flex: 1 1 100%;
	}

	&.mpcth_auto .mpcth_block {
		flex: 1 1 auto;
	}

	.mpcth_text,
	.mpcth_socials {
		display: inline-block;
		vertical-align: middle;
	}
}



//----------------------------------------------------------------------------//
//	BACK TO TOP
//----------------------------------------------------------------------------//
.mpcth_back-to-top {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	display: block;
	padding: 10px;
	margin: 10px;
	opacity: 0;
	visibility: hidden;

	transition: all .25s;

	&.mpcth_visible {
		opacity: .7;
		visibility: visible;

		&:hover {
			opacity: 1;
		}
	}

	&.mpcth_position--left {
		left: 0;
	}
	&.mpcth_position--center {
		left: 50%;
		transform: translateX(-50%);
	}
	&.mpcth_position--right {
		right: 0;
	}

	.mpcth_icon {
		font-size: 30px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
	}
}

