.mpcth_post {
	.mpcth_post__format {
		margin-top: 1em;
	}



	//----------------------------------------------------------------------------//
	//	GALLERY
	//----------------------------------------------------------------------------//
	.mpcth_gallery__placeholder {
		visibility: hidden;
		display: block;
	}

	.mpcth_gallery {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.slick-list {
			height: 100% !important;
		}

		.slick-track {
			height: 100%;
		}

		.slick-slide {
			background-size: cover;
			background-position: center center;
		}
	}

	.mpcth_gallery__nav {
		.mpcth_icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: .25em;
			font-size: 2em;
			opacity: 0;
			background: rgba(255, 255, 255, .25);

			&:hover {
				opacity: 1;
				background: rgba(255, 255, 255, .75);
			}
		}

		.mpcth_prev {
			left: 0;
		}

		.mpcth_next {
			right: 0;
		}
	}

	&:hover .mpcth_gallery__nav {
		.mpcth_icon {
			opacity: 1;
		}
	}



	//----------------------------------------------------------------------------//
	//	VIDEO
	//----------------------------------------------------------------------------//
	.mpcth_video {
		position: relative;
		height: 0;
		padding-bottom: 56.25%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}



	//----------------------------------------------------------------------------//
	//	QUOTE
	//----------------------------------------------------------------------------//
	.mpcth_quote {
		text-align: center;
		font-size: 1.5em;

		cite {
			font-size: .8em;
		}
	}



	//----------------------------------------------------------------------------//
	//	STATUS
	//----------------------------------------------------------------------------//
	.mpcth_status {
		text-align: center;
		font-size: 1.5em;

		.twitter-tweet {
			margin: 0 auto;
		}
	}



	//----------------------------------------------------------------------------//
	//	CHAT
	//----------------------------------------------------------------------------//
	.mpcth_chat {
		font-size: 1.5em;

		p:nth-child(even) {
			text-align: right;
		}
	}
}