//----------------------------------------------------------------------------//
//	HEADER
//----------------------------------------------------------------------------//
.mpcth_page__header {
	position: relative;
	z-index: 100;
	border-bottom: 0 solid transparent;

	&.mpcth_float {
		position: absolute;
		left: 0;
		right: 0;
	}
	&.mpcth_floating {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 0 !important;
	}

	&.mpcth_style--boxed {
		.mpcth_layout--block {
			position: relative;
		}
	}

	&.mpcth_style--stretch {
		.mpcth_layout--block {
			width: 100%;
		}
	}
}


//----------------------------------------------------------------------------//
//	LAYOUT
//----------------------------------------------------------------------------//
.mpcth_header-layout {
	display: flex;
	align-items: center;
	margin: 0 -10px;

	> * {
		flex: 0 1 auto;
		margin: 0 10px;

		@media #{$screen-medium} {
			margin: 0;
		}
	}

	.mpcth_spacer {
		flex: 1 0 auto;

		@media #{$screen-medium} {
			display: none;
		}
	}

	.mpcth_mini-cart {
		@media #{$screen-medium} {
			display: none;
		}
	}

	&.mpcth_layout--layout_01 {
		.mpcth_logo-wrap { order: 1; }
		.mpcth_page__navigation { order: 2; }
		.mpcth_page__search { order: 4; }
		.mpcth_socials { order: 5; }
		.mpcth_spacer { order: 3; }
		.mpcth_mini-cart { order: 6; }
	}

	&.mpcth_layout--layout_02 {
		flex-wrap: wrap;
		justify-content: center;

		.mpcth_logo-wrap { order: 1; }
		.mpcth_page__navigation { order: 3; }
		.mpcth_page__search { order: 4; }
		.mpcth_socials { order: 5; }
		.mpcth_spacer {
			order: 2;
			flex: 1 0 100%;
		}
		.mpcth_mini-cart { order: 6; }
	}

	&.mpcth_layout--layout_03 {
		.mpcth_logo-wrap { order: 1; }
		.mpcth_page__navigation { order: 3; }
		.mpcth_page__search { order: 4; }
		.mpcth_socials { order: 5; }
		.mpcth_spacer { order: 2; }
		.mpcth_mini-cart { order: 6; }
	}

	&.mpcth_layout--layout_04 {
		.mpcth_logo-wrap { order: 1; }
		.mpcth_page__navigation { order: 5; }
		.mpcth_page__search { order: 6; }
		.mpcth_socials { order: 2; }
		.mpcth_spacer { order: 4; }
		.mpcth_mini-cart { order: 3; }
	}

	&.mpcth_layout--layout_05 {
		justify-content: center;

		.mpcth_logo-wrap {
			order: 2;
		}
		.mpcth_page__navigation.mpcth_side--left {
			order: 1;
			text-align: right;
			flex: 1 1 50%;
		}
		.mpcth_page__navigation.mpcth_side--right {
			order: 3;
			flex: 1 1 50%;
		}
		.mpcth_page__search { order: 5; }
		.mpcth_socials { order: 4; }
		.mpcth_spacer { display: none; }
		.mpcth_mini-cart { order: 6; }

		&.mpcth_second { margin-top: .5em; }
	}

	&.mpcth_layout--layout_06 {
		justify-content: center;

		.mpcth_page__navigation { order: 1; }
		.mpcth_page__search { order: 2; }
		.mpcth_socials { order: 3; }
		.mpcth_spacer { display: none; }
		.mpcth_mini-cart { order: 4; }
	}

	@media #{$screen-medium} {
		flex-wrap: wrap;
		text-align: center;
		margin: 0;
	}
}

.mpcth_style-wrap {
	position: relative;
}



//----------------------------------------------------------------------------//
//	BACKGROUND
//----------------------------------------------------------------------------//
.mpcth_background-target {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	transition: background .25s, opacity .25s;

	.mpcth_page__header.mpcth_floating & {
		opacity: 1;
	}
}



//----------------------------------------------------------------------------//
//	TOGGLES
//----------------------------------------------------------------------------//
.mpcth_navigation-toggle,
.mpcth_search-toggle {
	display: none;
	flex: 0 0 auto;
	padding: 0 1em;
	font-size: 2em;

	@media #{$screen-medium} {
		display: inline-block;
	}
	@media #{$screen-tiny} {
		font-size: 1.5em;
	}
	@media #{$screen-pico} {
		flex: 0 0 50%;
		margin-top: .5em;
	}
}

.mpcth_navigation-toggle {
	order: 1;
	margin-left: -1em;

	@media #{$screen-pico} {
		order: 2;
		margin-left: 0;
	}
}

.mpcth_search-toggle {
	order: 3;
	margin-right: -1em;

	@media #{$screen-pico} {
		margin-right: 0;
	}
}



//----------------------------------------------------------------------------//
//	SOCIALS
//----------------------------------------------------------------------------//
.mpcth_page__header .mpcth_socials {
	display: inline-block;

	@media #{$screen-medium} {
		&.mpcth_socials {
			flex: 0 0 100%;
			order: 5;
			line-height: 1;
			padding: 1em 0 .5em;

			a {
				padding: .25em;
			}
		}
	}
}