.mpcth_page__header .mpcth_header-layout .mpcth_logo-wrap {
	@media #{$screen-medium} {
		flex: 1 0 auto;
		order: 2;
		line-height: 1;
	}
	@media #{$screen-pico} {
		flex: 1 0 100%;
		order: 1;
	}
}

.mpcth_floating .mpcth_layout--layout_02 .mpcth_logo-wrap {
	display: none;
}

.mpcth_layout--layout_06 .mpcth_logo-wrap {
	display: none;

	@media #{$screen-medium} {
		display: block;
	}
}

.mpcth_logo-wrap.mpcth_static {
	@media #{$screen-medium} {
		display: none;
	}
}



//----------------------------------------------------------------------------//
//	LOGO
//----------------------------------------------------------------------------//
.mpcth_logo {
	margin: 0;
	display: inline-block;
	vertical-align: middle;

	a {
		display: block;

		.mpcth_static & {
			display: inline-block;
		}
	}

	img {
		width: auto;
		image-rendering: crisp-edges;
		margin: 0 auto;
	}

	.mpcth_logo--def {
		display: block;
	}

	.mpcth_logo--alt {
		display: none;
	}

	.mpcth_alt & .mpcth_logo--def {
		display: none;
	}
	.mpcth_alt & .mpcth_logo--alt {
		display: block;
	}

	.mpcth_floating & .mpcth_logo--def {
		display: block;
	}
	.mpcth_floating & .mpcth_logo--alt {
		display: none;
	}

	@media #{$screen-medium} {
		display: none;
		text-align: inherit;
	}

	&.mpcth_mobile {
		display: none;

		@media #{$screen-medium} {
			display: block;
		}
	}

	.mpcth_layout--layout_02 &,
	.mpcth_layout--layout_05 &,
	.mpcth_static & {
		display: block;
		margin: 0;
		text-align: center;

		@media #{$screen-medium} {
			display: none;
			text-align: inherit;
		}

		&.mpcth_mobile {
			display: none;

			@media #{$screen-medium} {
				display: block;
			}
		}
	}
}



//----------------------------------------------------------------------------//
//	TAGLINE
//----------------------------------------------------------------------------//
.mpcth_tagline {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;

	@media #{$screen-medium} {
		margin-left: 0;
	}
}

.mpcth_layout--layout_02,
.mpcth_layout--layout_05,
.mpcth_static {
	.mpcth_tagline {
		display: block;
		margin: 0;
		text-align: center;
	}
}
