.mpcth_page__content {
	.mpcth_footer--fixed & {
		z-index: 1;
		background: #ffffff;
	}
}

.mpcth_content {
	display: flex;

	@media #{$screen-medium} {
		display: block;
	}
}

.mpcth_main {
	flex: 1 1 auto;
	padding: $gaps 0;
	max-width: $page__large - $gaps * 2;

	.mpcth_sidebar--left & {
		order: 2;
		max-width: $page__large - $gaps * 2 - ( $sidebar + $gaps );
	}
	.mpcth_sidebar--right & {
		order: 1;
		max-width: $page__large - $gaps * 2 - ( $sidebar + $gaps );
	}

	@media #{$screen-medium} {
		&.mpcth_main {
			flex: initial;
		}
	}
}

.mpcth_main__header {
	margin-bottom: $gaps;
}