//----------------------------------------------------------------------------//
//	MENU
//----------------------------------------------------------------------------//
.mpc-menu {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 10;

	.menu-item > a {
		display: block;
		padding: 0 1em;
		text-align: left;

		transition: color .25s, background .25s;

		&[href="#"] {
			cursor: default;
		}
	}

	ul, li {
		margin: 0;
	}

	// TOP LEVEL
	> .menu-item {
		position: relative;

		> a {
			padding: .5em 1em;

			i {
				line-height: 1;
			}
		}

		// SEPARATOR
		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			height: 1em;
			line-height: 1;
			text-align: center;
			margin-top: -.5em;
			transform: translateX(-50%);
		}
		&:first-child:before {
			display: none;
		}

		.mpcth_mobile &.menu-item-has-children > a {
			position: relative;
		}

		.mpcth_mobile &.menu-item-has-children > a:after {
			content: '+';
			font-size: 1.5em;
			position: absolute;
			top: 50%;
			right: 1em;
			line-height: 2px;
		}
		.mpcth_mobile &.menu-item-has-children > a.mpcth_active:after {
			content: '-';
		}
	}
}

//----------------------------------------------------------------------------//
//	MENU ITEM
//----------------------------------------------------------------------------//
.menu-item {
	display: inline-block;
	list-style: none;
	vertical-align: top;
	white-space: normal;
}

.mpc-menu-icon,
.mpc-menu-label {
	display: inline-block;
	vertical-align: middle;
}
.mpc-menu-icon {
	margin-right: .5em;
}

.mpc-menu .mpc-menu-description-wrap {
	display: table;
}

.mpc-menu .mpc-menu-icon-spacer,
.mpc-menu .mpc-menu-description {
	display: table-cell;
}
.mpc-menu .mpc-menu-icon-spacer {
	width: 1.5em;
	line-height: 1px !important;
}
.mpc-menu .mpc-menu-description,
.mpc-menu .mpc-menu-custom-content {
	padding-bottom: .5em;
}



//----------------------------------------------------------------------------//
//	SUB MENU ICON
//----------------------------------------------------------------------------//
html:not(.mpcth_mobile) .mpcth_submenu-sign .menu-item-has-children > a:after {
	content: '';
	display: inline-block;
	position: relative;
	bottom: -5px;
	right: -2px;
	border: 2px solid;
	width: 0;
	height: 0;
	border-left-color: transparent;
	border-top-color: transparent;
	opacity: .5;

}

html:not(.mpcth_mobile) .mpcth_submenu-sign .sub-menu .menu-item-has-children > a:after {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

html:not(.mpcth_mobile) .mpc-mega-menu-wrap .menu-item-has-children > a:after {
	display: none;
}



//----------------------------------------------------------------------------//
//	CLASSIC DROPDOWN
//----------------------------------------------------------------------------//
.menu-item-has-children {
	position: relative;

	&:hover > .sub-menu {
		visibility: visible;
		opacity: 1;
		z-index: 2;
	}
}

.mpc-menu .sub-menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	background: #ffffff;
	width: 200px;
	padding: 0;
	text-align: left;

	transition: opacity .25s, visibility .25s;
}
.sub-menu .sub-menu {
	position: absolute;
	top: -.25em;
	left: 100%;
}

.mpc-menu > .menu-item:not(.mpc-mega-menu) .sub-menu {
	padding: .25em 0;
}

// FLIPPED DROPDOWN
.mpc-flip-menus > .sub-menu .sub-menu {
	left: 0;
	transform: translateX(-100%);
}



//----------------------------------------------------------------------------//
//	CLASSIC DROPDOWN - ITEM
//----------------------------------------------------------------------------//
.mpc-menu > .menu-item:not(.mpc-mega-menu) .sub-menu .menu-item {
	border-bottom: 1px solid transparent;

	&:last-child {
		border-bottom: none;
	}
}

.sub-menu {
	.menu-item {
		display: block;
	}

	.menu-item > a,
	.mpc-menu-description-wrap {
		padding: 0 20px;
		visibility: inherit;
	}

	.mpc-menu-label {
		display: table-cell;
	}

	.mpc-menu-icon {
		display: table-cell;
		line-height: inherit;
		vertical-align: top;
		padding-right: .5em;
	}

	.mpc-menu-icon,
	.mpc-menu-label {
		padding-top: .25em;
		padding-bottom: .25em;
	}
}



//----------------------------------------------------------------------------//
//	MEGA MENU DROPDOWN
//----------------------------------------------------------------------------//
.mpc-mega-menu {
	position: relative;

	&:hover .mpc-mega-menu-wrap {
		visibility: visible;
		opacity: 1;
	}
}

.mpc-mega-menu-wrap {
	position: absolute;
	top: 100%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	transition: opacity .25s, visibility .25s;

	&.mpc-pattern {
		background-repeat: repeat;
		background-size: initial;
	}
}

.mpc-full-width .mpc-mega-menu-wrap > .sub-menu {
	margin: 0 auto;

	@media #{$screen-large} {
		max-width: $page__large - $mega_menu__full_width__gaps;
	}
	@media #{$screen-normal} {
		max-width: $page__normal - $mega_menu__full_width__gaps;
	}
	@media #{$screen-medium} {
		max-width: $page__medium - $mega_menu__full_width__gaps;
	}
	@media #{$screen-small} {
		max-width: 100%;
	}
}



//----------------------------------------------------------------------------//
//	MEGA MENU ROW
//----------------------------------------------------------------------------//
.mpc-mega-menu-wrap {
	.sub-menu {
		position: relative;
		top: 0;
		left: 0;
		background: transparent !important;
		width: auto;
		padding: 0;
		margin: 0;
		visibility: inherit;
		opacity: 1;

		transition: none;
	}

	> .sub-menu {
		display: flex;
		flex-wrap: wrap;
		margin-right: -20px; // scrollbar fix
	}
}



//----------------------------------------------------------------------------//
//	MEGA MENU COLUMN
//----------------------------------------------------------------------------//
.mpc-mega-menu-col {
	position: relative;
	width: 200px;
	padding: .25em 0;
	flex: 0 1 auto;

	.mpc-shrink & {
		flex: 1 1 auto;
	}

	// COLUMN DIVIDER
	&:after {
		content: '';
		position: absolute;
		top: 2em;
		left: 0;
		bottom: 2em;
		width: 1px;
	}
	&:first-child:after {
		display: none;
	}

	> a {
		text-transform: uppercase;
		margin-bottom: .5em;
		visibility: inherit;

		.mpc-menu-label {
			display: block;
		}

		.mpc-menu-icon + .mpc-menu-label,
		.mpc-menu-icon {
			display: table-cell;
		}
	}

	.sub-menu .sub-menu {
		padding-left: 1em;
	}
}


//----------------------------------------------------------------------------//
//	MEGA MENU EXTRAS
//----------------------------------------------------------------------------//
.mpc-mega-menu-break {
	list-style: none;
	flex: 0 0 100%;
}

.mpc-menu-custom-content {
	display: block;
	padding: 0 1.5em;

	img {
		max-width: 100%;
		height: auto;
	}
}



//----------------------------------------------------------------------------//
//	MOBILE
//----------------------------------------------------------------------------//
@media #{$screen-medium} {
	.mpcth_page__navigation {
		position: absolute;
		top: 100%;
		left: -300px;
		width: 100%;
		max-width: 300px;
		visibility: hidden;
		opacity: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		transition: all .25s;

		.mpcth_page__header[data-mode="menu"] & {
			visibility: visible;
			opacity: 1;
			left: 0;
		}

		.mpc-menu {
			background: #f3f3f3;
		}
	}

	// DROPDOWNS
	.mpc-menu .mpc-mega-menu-wrap,
	.mpc-menu .sub-menu {
		position: relative;
		top: 0;
		left: 0 !important;
		visibility: visible;
		opacity: 1;
		width: auto !important;
		height: 0;
		padding: 0 !important;
		overflow: hidden;

		transition: height .5s;
	}

	.mpc-menu .mpc-mega-menu-wrap {
		background-image: none !important;
	}

	.mpc-menu .mpc-mega-menu-wrap .sub-menu,
	.mpc-menu .sub-menu .sub-menu {
		background: none;
		padding: 0 0 0 1em !important;
		height: auto;
	}

	.mpc-menu .mpc-mega-menu-wrap > .sub-menu {
		padding: 0 !important;
	}

	// ITEM
	.menu-item {
		display: block;
	}

	.mpc-menu > .menu-item:before {
		display: none;
	}

	.mpc-menu > .menu-item > .sub-menu > .menu-item,
	.mpc-menu .mpc-mega-menu-wrap > .sub-menu > .menu-item {
		&:first-child {
			padding-top: .5em;
		}
		&:last-child {
			padding-bottom: .5em;
		}
	}

	.mpc-menu-custom-content {
		margin-left: 1em;
	}

	// COLUMN
	.mpc-mega-menu-wrap .mpc-mega-menu-col {
		float: none;
		padding: 0;
		width: auto !important;
	}

	.mpc-mega-menu-col > a {
		margin-bottom: 0;
	}
}
