//----------------------------------------------------------------------------//
//	LOAD MORE
//----------------------------------------------------------------------------//
.mpcth_load-more {
	&.mpcth_infinite {
		height: 0;
		visibility: hidden;
	}
}



//----------------------------------------------------------------------------//
//	CLASSIC
//----------------------------------------------------------------------------//
.mpcth_pagination,
.woocommerce-pagination {
	text-align: center;

	.page-numbers {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		padding: .5em;
	}
}