.mpcth_portfolio {
	.mpcth_post {
		&.mpcth_with-background {
			padding: 20px;
		}
	}

	&.mpcth_columns--2 {
		.mpcth_grid-item {
			width: 50%;

			@media #{$screen-small} {
				width: 100%;
			}
		}
	}
	&.mpcth_columns--3 {
		.mpcth_grid-item {
			width: 33.33%;

			@media #{$screen-medium} {
				width: 50%;
			}
			@media #{$screen-small} {
				width: 100%;
			}
		}
	}
	&.mpcth_columns--4 {
		.mpcth_grid-item {
			width: 25%;

			@media #{$screen-normal} {
				width: 33.33%;
			}
			@media #{$screen-medium} {
				width: 50%;
			}
			@media #{$screen-small} {
				width: 100%;
			}
		}
	}
}