//----------------------------------------------------------------------------//
//	BLOG
//----------------------------------------------------------------------------//
.mpcth_post {
	.mpcth_post__image {
		position: relative;
	}

	.mpcth_post__header {
		margin-bottom: $gaps;
	}

	.mpcth_thumbnail {
		width: 100%;
		display: block;
	}

	.mpcth_post__meta {
		margin-bottom: 1em;
	}

	.mpcth_post__read-more {
		margin-top: 1em;
	}
}



//----------------------------------------------------------------------------//
//	SINGLE
//----------------------------------------------------------------------------//
.single {
	.mpcth_post__content {
		margin: 1em 0;
	}

	.mpcth_post__nav {
		display: flex;
		justify-content: space-between;
		margin: 1em 0;

		a {
			flex: 0 1 auto;
			max-width: 50%;
			display: flex;
			align-items: center;
		}
	}

	.mpcth_post__tags {
		margin: 1em 0;
	}
}