//----------------------------------------------------------------------------//
//	SEARCH
//----------------------------------------------------------------------------//
.search-field {
	display: block;
	height: 1em;
	background: rgba(0, 0, 0, .05);
	padding: .5em 0;
	text-indent: .5em;
	border: none;
	width: 100%;
}

.search-form {
	position: relative;
	box-sizing: content-box;
	line-height: 1;
}

.search-submit,
.search-form:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	line-height: inherit;
	padding: .5em;
}
.search-submit {
	opacity: 0;
}



//----------------------------------------------------------------------------//
//	MOBILE HEADER
//----------------------------------------------------------------------------//
@media #{$screen-medium} {
	.mpcth_page__search {
		position: absolute;
		top: 100%;
		right: -300px;
		width: 100%;
		max-width: 300px;
		visibility: hidden;
		opacity: 0;
		padding: 1em;

		transition: all .25s;

		.mpcth_page__header[data-mode="search"] & {
			right: 0;
			visibility: visible;
			opacity: 1;
		}

		.search-submit {
			display: none;
		}

		.search-field {
			display: block;
			border: none;
			border-radius: 0;
			width: 100%;
			outline: none;

			&:hover {
				border-color: rgba(0, 0, 0, 0.1);
			}
			&:focus,
			&:active {
				border-color: rgba(0, 0, 0, 0.2);
			}
		}
	}
}