.mpcth_sidebar {
	position: relative;
	flex: 0 0 $sidebar + $gaps;
	padding: $gaps;

	.mpcth_sidebar--left & {
		margin-right: $gaps;
		margin-left: -$gaps;
		order: 1;
	}
	.mpcth_sidebar--right & {
		margin-left: $gaps;
		margin-right: -$gaps;
		order: 2;
	}

	.widget {
		margin-bottom: 25px;
	}
	.widget:last-child {
		margin-bottom: 0;
	}

	@media #{$screen-medium} {
		&.mpcth_sidebar {
			flex: initial;
			margin-left: -$gaps;
			margin-right: -$gaps;
		}
	}
}