$gaps: 30px;
$sidebar: 300px;

$page__large: 1200px;
$page__normal: 960px;
$page__medium: 720px;
$page__small: 100%;

$mega_menu__full_width__gaps: ( $gaps - 20px + 10px ) * 2; // .menu-item > a { padding: 0 20px; }, 10px header elements gap

// use: @media #{$var} {
// 	...
// }
$screen-pico: "only screen and (max-width: 360px)";
$screen-tiny: "only screen and (max-width: 480px)";
$screen-small: "only screen and (max-width: 768px)";
$screen-medium: "only screen and (max-width: 992px)";
$screen-normal: "only screen and (max-width: 1199px)";
$screen-large: "only screen and (min-width: 1200px)";