//----------------------------------------------------------------------------//
//	WIDGET
//----------------------------------------------------------------------------//
.widget {
	width: 100%;

	.mpcth_column & {
		padding: 20px 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	select {
		max-width: 100%;
		border: none;
		padding: 10px 5px;
	}

	li {
		margin-bottom: .5em;
	}

	li:last-child {
		margin-bottom: 0;
	}

	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;

		ul, ol {
			padding-left: 2em;
			margin-top: .5em;
		}
	}
}

.widget-title {
	color: inherit;
	margin: 0 0 1em 0;
}



//----------------------------------------------------------------------------//
//	RECENT POSTS
//----------------------------------------------------------------------------//
.widget_recent_entries {
	.post-date {
		display: block;
		font-style: italic;
	}
}



//----------------------------------------------------------------------------//
//	CALENDAR
//----------------------------------------------------------------------------//
.widget_calendar {
	#prev {
		text-align: left;
		padding-top: 5px;
	}
	#next {
		text-align: right;
		padding-top: 5px;
	}

	caption {
		margin-bottom: 15px;
	}
	td {
		text-align: center;
	}
}



//----------------------------------------------------------------------------//
//	SOCIALS
//----------------------------------------------------------------------------//
.mpc_widget_socials {
	.mpc_force-size a.social {
		font-size: inherit;
	}
}



//----------------------------------------------------------------------------//
//	IMAGE
//----------------------------------------------------------------------------//
.mpc_widget_image {
	a {
		display: inline-block;
	}

	img {
		display: block;
	}
}