.mpcth_body.woocommerce-page {
	//----------------------------------------------------------------------------//
	//	SHOP
	//----------------------------------------------------------------------------//
	.mpcth_shop {
		&.mpcth_columns--1 {
			.product {
				width: 100%;
			}
		}
		&.mpcth_columns--2 {
			.product {
				width: 50%;

				@media #{$screen-small} {
					width: 100%;
				}
			}
		}
		&.mpcth_columns--3 {
			.product {
				width: 33.33%;

				@media #{$screen-medium} {
					width: 50%;
				}
				@media #{$screen-small} {
					width: 100%;
				}
			}
		}
		&.mpcth_columns--4 {
			.product {
				width: 25%;

				@media #{$screen-normal} {
					width: 33.33%;
				}
				@media #{$screen-medium} {
					width: 50%;
				}
				@media #{$screen-small} {
					width: 100%;
				}
			}
		}
	}

	//----------------------------------------------------------------------------//
	//	SHOP - PRODUCTS
	//----------------------------------------------------------------------------//
	.mpcth_shop {
		.product {
			margin: 0;

			&.first {
				clear: none;
			}
		}
	}

	.products {
		.mpcth_product-wrapper {
			position: relative;
			padding-bottom: 10px;
		}

		.wp-post-image {
			margin: 0;
		}
	}

	//----------------------------------------------------------------------------//
	//	SHOP - TITLE
	//----------------------------------------------------------------------------//
	.products .product h3 {
		text-align: inherit;
		text-transform: none;
		padding: 10px 15px 0;
		margin: 0 0 .5em;
	}

	//----------------------------------------------------------------------------//
	//	SHOP - PRICE
	//----------------------------------------------------------------------------//
	.products .product .price {
		margin: .5em 0 0;
		padding: 0 15px;

		ins {
			padding: 0;
			margin-left: .5em;
			display: inline-block;
		}

		del {
			display: inline-block;
			font-weight: normal;
			opacity: .75;
		}
	}

	//----------------------------------------------------------------------------//
	//	SHOP - ADD TO CART
	//----------------------------------------------------------------------------//
	.mpcth_add-to-cart {
		height: 0;
		padding: 0 10px 10px 10px;
		margin-top: -10px;
		opacity: .9;
		text-align: center;

		.add_to_cart_button {
			margin: 0 !important;
			display: block;
			opacity: 0;
			border-radius: 0;

			//&:before {
			//	content: '+';
			//	display: inline-block;
			//	font-size: 1.5em;
			//	line-height: .1;
			//	vertical-align: middle;
			//	margin-right: .25em;
			//	margin-top: -.08em;
			//	font-family: Arial, sans-serif;
			//	font-weight: normal;
			//}

			&.loading:after {
				top: 50%;
				margin-top: -.75em;
			}
		}

		.added_to_cart {
			display: none;
		}
	}

	.products {
		.add_to_cart_button {
			white-space: normal;
			opacity: 0;
			transform: translateY(0);
		}

		.product:hover .add_to_cart_button {
			opacity: 1;
			transform: translateY(-100%);
		}
	}



	//----------------------------------------------------------------------------//
	//	SINGLE - ADD TO CART
	//----------------------------------------------------------------------------//
	.product .single_add_to_cart_button {
		border-radius: 0;
		padding: .8em 1em;
	}
	.product .single_add_to_cart_button:focus {
		outline: none;
	}

	//----------------------------------------------------------------------------//
	//	SINGLE - META
	//----------------------------------------------------------------------------//
	.product_meta > span {
		display: block;
		margin-bottom: .5em;
		font-style: italic;
	}
	.product_meta > span > * {
		font-style: normal;
		margin-left: .25em;
	}

	//----------------------------------------------------------------------------//
	//	SINGLE - TABS
	//----------------------------------------------------------------------------//
	.product .woocommerce-tabs .tabs {
		padding: 0;
	}

	.product .woocommerce-tabs .tabs li {
		background: none;
		border: none;
		border-radius: 0;
		margin: 0;

		&:before,
		&:after {
			display: none;
		}
	}
	.product .woocommerce-tabs .tabs li.active {
		background: rgba(0, 0, 0, 0.05);
	}

	//----------------------------------------------------------------------------//
	//	SINGLE - REVIEW FORM
	//----------------------------------------------------------------------------//
	.woocommerce-Reviews {
		.comment-form-rating {
			flex: 0 0 30%;
			order: 3;

			span {
				display: inline-block;
				line-height: 1;
				font-size: 1.5em;
			}
		}

		.star-rating {
			float: right;
		}
	}



	//----------------------------------------------------------------------------//
	//	BADGES
	//----------------------------------------------------------------------------//
	.product.product {
		.mpcth_badge--new,
		.onsale {
			position: absolute;
			right: 0;
			left: auto;
			min-height: 4em;
			min-width: 4em;
			padding: 0;
			line-height: 4;
			border-radius: 100%;
			margin: 1.5em -.75em 0 0;
			text-align: center;
			font-weight: normal;
			font-size: 1em;

			-webkit-font-smoothing: antialiased;
		}

		.mpcth_badge--new {
			top: 0;
			z-index: 2;
		}

		.mpcth_badge--new + .onsale {
			top: 3.5em;
			z-index: 1;
		}
	}

	&.single-product .product.product {
		.mpcth_badge--new,
		.onsale {
			right: auto;
			left: -1em;
		}
	}



	//----------------------------------------------------------------------------//
	//	RATING
	//----------------------------------------------------------------------------//
	.star-rating {
		margin: 0 15px;
		display: inline-block;
		text-align: inherit;
	}

	.star-rating:before {
		color: inherit;
	}

	&.single-product {
		.star-rating {
			margin: 0;
			float: none;
			vertical-align: middle;
		}
	}

	.woocommerce-review-link {
		margin-left: 0.5em;
		vertical-align: middle;
	}



	//----------------------------------------------------------------------------//
	//	NOTICE
	//----------------------------------------------------------------------------//
	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {

	}



	//----------------------------------------------------------------------------//
	//	CART PAGE
	//----------------------------------------------------------------------------//
	.cart {
		.coupon .input-text {
			width: auto;
		}
	}
}

.mpcth_body.mpcth_body {
	//----------------------------------------------------------------------------//
	//	INPUTS
	//----------------------------------------------------------------------------//
	.input-text,
	.button,
	.orderby,
	.select2-choice {
		line-height: 1;
		border-radius: 0;
	}

	.button,
	input,
	textarea {
		-webkit-transition: all .25s;
		-moz-transition: all .25s;
		transition: all .25s;
	}

	.button,
	input[type=submit] {
		font-weight: 700;
		line-height: 1.33;
	}



	//----------------------------------------------------------------------------//
	//	MINI CART
	//----------------------------------------------------------------------------//
	.mpcth_mini-cart {
		position: relative;
	}

	// CART INFO
	.mpcth_cart-info {
		position: relative;
		white-space: nowrap;
	}

	//.mpcth_cart-count {
	//	position: absolute;
	//	top: 0;
	//	right: -.75em;
	//	width: 1.5em;
	//	line-height: 1.5;
	//	border-radius: 100%;
	//	text-align: center;
	//	font-size: 0.7em;
	//
	//	.mpcth_empty & {
	//		display: none;
	//	}
	//}

	.mpcth_cart-count {
		position: absolute;
		bottom: .75em;
		right: 0;
		line-height: 1;
		font-size: .9em;
		text-align: center;
		width: 2.1em;
	}
	.mpcth_empty .mpcth_cart-count {
		display: none;
	}

	.mpcth_cart-icon,
	.mpcth_cart-price {
		display: inline-block;
		vertical-align: middle;
	}
	.mpcth_cart-price {
		margin-right: .5em;
	}
	.mpcth_empty .mpcth_cart-price {
		display: none;
	}

	.mpcth_cart-icon {
		font-size: 2em;
		line-height: 1.5;
	}

	// CART LIST
	.mpcth_cart {
		position: absolute;
		top: 100%;
		right: 0;
		width: 300px;
		padding: 20px;
		background: #ffffff;
		visibility: hidden;
		opacity: 0;

		transition: opacity .25s, visibility .25s;

		.mpcth_cart-item {
			margin-bottom: 1em;
			display: flex;
		}

		.mpcth_image {
			flex: 0 0 80px;
			margin-right: 15px;

			img {
				width: 80px;
			}
		}

		.mpcth_desc {
			flex: 1 1 auto;
		}

		.mpcth_price,
		.mpcth_quantity {
			display: block;
		}

		.mpcth_title {
			display: block;
		}

		.mpcth_remove {
			font-style: italic;
			font-size: .875em;
		}

		p {
			margin: 0;
		}

		.total {
			text-align: center;
			padding: 1em 0;
			border-top: 1px solid rgba(0, 0, 0, 0.05);
		}

		.button {
			display: block;
			text-align: center;
			margin-bottom: .5em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.mpcth_empty .mpcth_cart {
		width: 200px;
	}

	.mpcth_cart-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.mpcth_mini-cart:hover {
		.mpcth_cart {
			visibility: visible;
			opacity: 1;
		}
	}
}